@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

html {
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    /* border: 1px solid rgba(255, 0, 0, 0.226); */
}

header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 0 50px 0;
}

header .container {
    width: 80vw;
}

header nav {
    display: flex;
    flex: 1;
    margin: 20px 0;
}

header nav h1 {
    font-weight: 700;
    font-size: 24px;
}

header nav ol {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}

header nav ol li a {
    color: #F9FAF8;
    margin: 0 0 0 20px;
    text-decoration: none;
}

header .container .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-cta h2 {
    font-weight: 700;
    font-size: 48px;
}

.hero-cta p {
    font-size: 14px;
    color: #E5E7Eb;
}

.hero-cta button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 14x;
    margin: 20px 0;
}

.hero-img {
    margin-top: 40px;
}

.hero-img img {
    max-width: 40vw;
    border-radius: 60px;
}

main h2 {
    font-weight: 700;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    margin: 50px;
}

main .container {
    width: 80vw;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.demo {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    font-size: 14px;
    text-align: center;
    gap: 20px;
    row-gap: 20px;
}

.demo-item p {
    margin: 10px 0 10px 0;
}

.demo-item img {
    max-width: 150px;
    max-height: auto;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

main .testimonial {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    padding: 100px;
}

main .testimonial p.author {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    align-items: flex-end;
    text-align: end;
}

.footer-cta {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    margin: 50px;
    padding: 40px 100px;
    flex-wrap: wrap;
}

.footer-cta-text {
    margin-bottom: 10px;
}

.footer-cta-btn {
    align-self: center;
}

.footer-cta-btn button {
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    padding: 10px;
    color: #E5E7Eb;
    font-weight: 700;
    font-size: 14px;
}

footer {
    display: flex;
    background: #1F2937;
    color: #E5E7Eb;
    padding: 40px;
    align-items: center;
    justify-content: center;
}