@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

html {
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 0 50px 0;
}

header .container {
    width: 80vw;
}

header nav {
    display: flex;
    flex: 1;
    margin: 20px 0;
}

header nav h1 {
    font-weight: 700;
    font-size: 24px;
}

header nav ol {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}

header nav ol li a {
    color: #F9FAF8;
    margin: 0 0 0 20px;
    text-decoration: none;
}

header .container .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-cta h2 {
    font-weight: 700;
    font-size: 48px;
}

.hero-cta p {
    font-size: 14px;
    color: #E5E7Eb;
}

.hero-cta button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 14x;
    margin: 20px 0;
}

.hero-img {
    margin-top: 40px;
}

.hero-img img {
    max-width: 40vw;
    border-radius: 60px;
}